certifi>=2025.4.26
cffi>=1.17.1
charset-normalizer>=3.4.2
commonX>=0.6.38
curl_cffi>=0.11.1
Deprecated>=1.2.18
idna>=3.10
img2pdf>=0.6.1
jmcomic>=2.5.38
lxml>=5.4.0
packaging>=25.0
pikepdf>=9.7.0
pillow>=11.2.1
pycparser>=2.22
pycryptodome>=3.22.0
PyYAML>=6.0.2
requests>=2.32.3
urllib3>=2.4.0
websockets>=15.0.1
wrapt>=1.17.2
pydantic>=2.0.0
